body {
    font-family:'Montserrat Alternates', sans-serif;;
    margin: 0 auto;
    padding: 0;
    color: white;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

header {
    background-color: black;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 75%;
    position:fixed;
}

header h1{
    display: block;
    color: white;
    margin-right: 200px;
}

header h2{
    display: block;
    color: white;
}

a {
    color: aqua;
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    color: white;
    background-color: aqua;
}

.summary {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0 50px;
}

.summary p {
    background-color: lightgray;
    opacity: 70%;
    padding: 50px;
    border-radius: 10px;
    color: black;
}

.summary a{
    color: white;
    background-color: black;
    padding: 5px 10px;
}

.summary a:hover{
    background-color: dimgray;
}

.preamble {
    background-color: black;
    align-content: center;
    align-items: center;
    padding: 200px 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.preamble h3{
    flex: 0 1 100%;
    font-size: 30px;
}

.preamble p{
    flex: 0 1 30%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main a{
    color: black;
}

.main a:hover{
    background-color: white;
}

.explanation, .participation, .benefits, .requirements {
    background-color: lightgray;
    opacity: 70%;
    margin: 25px 20px;
    border-radius: 10px;
    padding: 10px 10px;
    color: black;
    flex: 0 1 20%;
}

footer {
    color: aqua;
    flex: 0 1 80%;
    text-align: center;
    display: flex;
    padding: 0 30px;
}

footer a:link {
    color: aqua;
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    border-radius: 5px;
}

footer a:hover {
    color: white;
    background-color: aqua;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #666666;
    opacity: 80%;
}

.sidebar {
    text-align: center;
    align-items: center;
}

.sidebar ul{
    list-style: none;
}

@media all and (max-width: 900px){
    header {
        background-color: black;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 75%;
        position: static;
    }

    header h1, h2{
        font-size: 20px;
    }

    .summary {
        margin: 150px auto;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 250px;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 0 25px;
    }

    .summary p {
        background-color: lightgray;
        opacity: 70%;
        padding: 50px;
        border-radius: 10px;
        color: black;
        line-height: 25px;
    }

    .preamble{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .main {
        justify-content: center;
        flex-direction: column;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }
}